<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs", { title: `Books in ${category}` || "Library" }) %>

<body>
  <header>
    <h1>Library</h1>
  </header>
  <main>
    <h2>Books in Category</h2>
    <%- include('./partials/book.ejs', { items: locals.items }) %>
  </main>

</body>

</html>