<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs", { title: "Library" }) %>

<body>
  <header>
    <h1>Library</h1>
  </header>
  <main>
    <h2>Books by genre</h2>
    <% if(locals.categories) {%>
    <ul>
      <% for (let { book_category, slug } of locals.categories){ %>
      <li><a href="/category/<%= slug %>"><%= book_category %></a></li>
      <% } %>
      <li><a href="/category/add"><i class="fa-solid fa-plus"></i> add a category</a></li>
    </ul>
    <% } %>
  </main>

</body>

</html>